<header>
  <ul>
    <li class="odd"><%= link_to(image_tag("logo2.gif", :alt => "Home"), root_path) %></li>
    <li class="even">A RECORD OF MIXES</li>
    <li class="odd">MADE FOR FRENS <3</li>
  </ul>
</header>
